.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
img {
  width: 100%;
  height: 200px;
}
.product {
  background-color: rgba(48, 21, 202, 0.676);
  padding: 20px;
  color: white;
  box-sizing: border-box;
  border-radius: 20px;
}
#wrapper {
  width: 95%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 50%;
  padding: 15px 30px;
  border: 1px solid rgba(48, 21, 202, 0.676);
  margin-block: 40px;
  outline: none;
}
